body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
}

.container {
    width: 100%; /* фиксированная ширина */
    max-width: 1200px; /* максимальная ширина */
    background-color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header, .footer {
    background-color: #117688;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    
}

.menu, .content, .footer {
    padding: 20px;
}

.main {
    flex: 1;
    display: flex;
}
.menu {
    width: 20%;
    background-color: #f0f0f0;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li {
    position: relative;
}

.menu a {
    display: block;
    padding: 10px;
    background: #ddd;
    text-decoration: none;
    color: #000;
}

.menu a:hover {
    background: #bbb;
}

.submenu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 200px; /* Ширина выпадающего меню */
    white-space: nowrap;
}

.submenu li {
    display: inline-block;
}

.menu li:hover .submenu {
    display: flex;
}

.content {
    width: 80%;
}
@media (max-width: 768px) {
    .main {
        flex-direction: column;
    }
    .menu, .content {
        width: 100%;
    }
}

.row {
    display: flex;
    align-items: flex-start;
/*    justify-content: space-between;*/
}

.column {
    margin-right: 20px;
    line-height: 1.5;
}

select {
    width: 100%;
}

table{
    border: 1px solid black;
    border-collapse: collapse;
}

td, th{
   border: 1px solid black;
   padding: 10px;
}

.mark {
    width: 10px;
}

.hidden {
    display: none  !important; 
}



/* CSS */
#Button {
  background-color: #f7fafa;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 150px;
}

#Button:hover {
  background-color: #DCDCDC;
}

#Button:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}


